<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KBS</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>
    <div class="container-fluid align-content-md-center">
        <h1 class="align-self-lg-center">Hệ thống nhận diện sắc thái khuôn mặt</h1>
        <table>
            <thead>by</thead>
            <tbody>
            <tr>
                <td>Trần Hoài Nam</td>
                <td>B18DCCN436</td>
            </tr>
            <tr>
                <td>Trần Nguyên Thịnh</td>
                <td>B18DCCN645</td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-success fw-bold text-uppercase" th:href="@{/input}" th:text="@{bắt đầu}"></a>
    </div>
</body>
</html>